*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
:root{
    --mautrang:#fffdfe;
    --mauxamtrong:#8c8b91;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.control{
    background: linear-gradient(45deg, #FF99FF, #9999FF, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.control-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25%;
}
.control_header-background{
    width: 268px;
}

.background-img{
    padding-top: 100%;
    background-image: url(./acset/object_music/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.control_container{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.control_container-name{
    font-weight: 700;
    color: var(--mautrang);
}
.control_container-Progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    position: relative;
}
.Progress_1{
    width: 100%;
    height: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    opacity: 0.4;
    margin-bottom: 5px;
}
.Progress_2{
    position: absolute;
    width: 45%;
    height: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    top: 0;
}
.progress-tiems{
    display: flex;
    justify-content: space-between;
}
.Progress-time{
    font-weight: 400;
    color: var(--mautrang);
}
.control_container-button{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 20px 0 30px 0;
    font-size: 2.2rem;
    color: var(--mautrang);
}
.control_container-button i:hover{
    opacity: 0.4;
}
.control_container-volume{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.control_container-volume i{
    color: var(--mautrang);
}
.volume_bar{
    width: 80%;
    position: relative;
}
.volume_bar-1{
    width: 100%;
    height: 8px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    opacity: 0.4;
    margin-bottom: 5px;
    transform: translatey(40%);
}
.volume_bar-2{
    position: absolute;
    width: 45%;
    height: 8px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    top: 20%;
}
.list{
    background-color: var(--mautrang);
    border-radius: 18px;
    width: 100%;
    height: 500px;
}