@font-face {
    font-family: SanFranciscoProItalic;
    src: url('acset/San Francisco Pro/San Francisco Pro/OTF/SFCompactDisplay-Heavy.otf') format('truetype'); /* Đường dẫn tới font */
}
*{
    margin: 0;
    padding: 0;
    font-family:'SanFranciscoProItalic',sans-serif;
    font-weight: 100;
    font-style: normal;
}


:root{
    --mautrang:#fffdfe;
    --mauxamtrong:#8c8b91;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.active_audio{
    display: block !important;
}
.active_list{
    background-color:#8c8b91c7;
    color: var(--mautrang);
}



.music_app{
    position: relative;
}


.control{
    background: linear-gradient(45deg, #FF99FF, #9999FF, #23a6d5, #23d5ab);
	animation: gradient 18s ease infinite;
	height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.control-header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 5%;
    transition: all 0.2s ease-out;
}
.control_header-background{
    width: 268px;
   
}

.background-img{
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.control_container{
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.control_container-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--mautrang);
}
.control_container-Progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    position: relative;
}
.Progress_1{
    width: 100%;
    height: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    opacity: 0.4;
    margin-bottom: 5px;
}
.Progress_2{
    position: absolute;
    height: 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    top: 0;
    transition: all 0.2s ease-in-out;
}
.progress-tiems{
    display: flex;
    justify-content: space-between;
}
.Progress-time{
    font-size: 0.8rem;
    opacity: 0.6;
    font-weight: 400;
    color: var(--mautrang);
}
.control_container-button{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 40px 0 50px 0;
    font-size: 2.2rem;
    color: var(--mautrang);
    
}
.button_container{
    display: flex;
    gap: 30px;
}
.container_i{
    transition: all 0.2s ease-in-out;
}
.control_container-button i:nth-child(4){
    width: 26.41px;
}
.play_js,.paust_js{
    display: none;
}
.control_container-button i:focus{
    scale: 0.9;
}
.control_container-volume{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}
.control_container-volume i{
    color: var(--mautrang);
}
.volume_bar{
    width: 80%;
    position: relative;
    transform: translateY(15%);
}
.volume_bar-1{
    width: 100%;
    height: 8px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    opacity: 0.4;
    margin-bottom: 5px;
}
.volume_bar-2{
    position: absolute;
    width: 45%;
    height: 8px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mautrang);
    top: 0;
    transition: all 0.2s ease-in-out;
}
.list{
    position: absolute;
    background-color: var(--mautrang);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    width: 100%;
    top: 693px;
    padding-top: 50px;

}
.list_bar{
    position: absolute;
    width: 25%;
    height: 8px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    background-color: var(--mauxamtrong);
    top: 2%;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
}
.list_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 94vh;
    overflow-y:auto ;
}
.list_item{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom:10px ;
}
.list_item-namesong{
    display: flex;
}
.namesong-img{
    width: 65px;
}
.list_item-img{
   
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
}
.list_item-name{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.namesong-name{
    font-weight: 700;
}
.namesong-Author{
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.6;
}